h1{
    color: #2472b5;
}

body {
    background: #f7f7f7;
    text-align: center;
}

#movie{
    color: red;
}
#tvshow{
  color: red;
}
#country{
    color: red;
    width: 200px;
    text-transform: uppercase;
}

.country{
    color: steelblue;
    font-weight: bold;
   
}

.movie{
    color: steelblue;
    font-weight: bold;
}

.tvshow{
    color: steelblue;
    font-weight: bold;
}

.btn{
    background-color: steelblue;
    color: white;
}

.texLabel{
    fill: black;
}

body,html{
    height: 100%;
}
.map-div{
    width: 35%;
    height: 50%;
    float: left;
    background: #f7f7f7;
}
.type-bar-div{
    width: 15%;
    height: 50%;
    float:left;
    background: #f7f7f7;
}
.grid-div{
    float: right;
    height:60%;
    width:50%;
    background:#f7f7f7;
}
.line-div{
    float: left;
    height:50%;
    width:50%;
    background: #f7f7f7;
}

.cast-bar-div {
    width:50%;
    height:40%;
    background: #f7f7f7;
}

#barchart{
    float: right;
    height:40%;
    width:50%;
}

#linechart{
    margin: 0 auto;
    width:50%;
   
}

.ratings-label {
    fill: black;
    font-size: 22px;
    text-anchor: middle;
}

.mapTooltip{
    opacity: 1;
    color: rgb(255, 0, 0);
    font-weight:bolder;
    background-color: none;
    border:solid;
    border-width: 0px;
    border-radius: 0px;
    padding:5px;
    display:inline;
    position:absolute;
}

.bar {
    text-align: center;
    fill: #9ecae1;
}

.bar-label-hidden {
    visibility: hidden;
    fill: black;
}

.bar-label {
    visibility: visible;
    text-anchor: middle;
    fill: black;
}

.xlabel {
    fill: black;
    font-size: 22px;
    text-anchor: middle;
}

.ylabel {
    fill: black;
    font-size: 22px;
    transform: rotate(-90deg);
    text-anchor: middle;
}

.tooltip {
    position: absolute;
    visibility: hidden;
}

.subplot-labels {
    text-anchor: middle;
    font-size: 18px;
    fill: black;
}

.axis {
    font-size: 9.5px;
}

.grid-tooltip {
    visibility: visible;
    text-anchor: start;
    border-radius: 5px;
    fill:black;
    font-size: 22px;
}

.no-data-label {
    font-size:50px;
    text-anchor: middle;
}