h1{
    color: #2472b5;
}

body {
    background: white;
}

/* #mapvis{
    width: 50%;
    float: left;
    
} */

/* #pievis{
    width: 70%;
    margin: 0px auto;
    padding-top: 50px;
} */

#movie{
    color: red;
}
#tvshow{
  color: red;
}
#country{
    color: red;
    width: 200px;
    text-transform: uppercase;
}

.country{
    color: steelblue;
    font-weight: bold;
   
}

.movie{
    color: steelblue;
    font-weight: bold;
}

.tvshow{
    color: steelblue;
    font-weight: bold;
}

.btn{
    background-color: steelblue;
    color: white;
}

.texLabel{
    fill: black;
}

body,html{
    height: 100%;
}
.map-div{
    width: 35%;
    height: 50%;
    float: left;
    background: #f7f7f7;
}
.type-bar-div{
    width: 15%;
    height: 50%;
    float:left;
    background: #f3f3f3;
}
.grid-div{
    float: right;
    height:60%;
    width:50%;
    background:#f7f7f7;
}
.line-div{
    float: left;
    height:50%;
    width:50%;
    background: #fcfcfc;
}

.cast-bar-div {
    width:50%;
    height:40%;
    background: #f3f3f3;
}

#barchart{
    float: right;
    height:40%;
    width:50%;
}

#linechart{
    margin: 0 auto;
    width:50%;
   
}

.ratings-label {
    fill: black;
    font-size: 22px;
    text-anchor: middle;
}