body {
    text-align: center;
}
.bar {
    text-align: center;
    fill: black;
}

.bar-highlight {
    fill: teal;
}

.bar-label-hidden {
    visibility: hidden;
    fill: black;
}

.bar-label {
    visibility: visible;
    fill: black;
    text-anchor: middle;
}

.xlabel {
    fill:black;
    font-size: 22px;
    text-anchor: middle;
}

.ylabel {
    fill:black;
    font-size: 22px;
    transform: rotate(-90deg);
    text-anchor: middle;
}

.tooltip {
    fill:black;
}

.subplot-labels {
    text-anchor: middle;
    font-size: 18px;
}

.axis {
    font-size: 9.5px;
}