body {
    text-align: center;
}
.bar {
    text-align: center;
    fill: black;
}

.bar-highlight {
    fill: teal;
}

.bar-label-hidden {
    visibility: hidden;
    fill: black;
}

.bar-label {
    visibility: visible;
    fill: black;
    text-anchor: middle;
}

.xlabel {
    fill:black;
    font-size: 22px;
    text-anchor: middle;
}

.ylabel {
    fill:black;
    font-size: 22px;
    transform: rotate(-90deg);
    text-anchor: middle;
}

.tooltip {
    position: absolute;
    visibility: hidden;
}

.subplot-labels {
    text-anchor: middle;
    font-size: 18px;
}

.axis {
    font-size: 9.5px;
}

.grid-tooltip {
    visibility: visible;
    text-anchor: start;
    border-radius: 5px;
    fill:white;
    font-size: 22px;
}

.grid-tooltip-bg {
    background: cornsilk;
    padding:5px;
}

.no-data-label {
    font-size:50px;
    text-anchor: middle;
}