h1{
    color: #2472b5;
}

#mapvis{
    width: 50%;
    float: left;
    
}

#pievis{
    width: 50%;
    float: right;
}

#movie{
    color: red;
}
#tvshow{
  color: red;
}
#country{
    color: red;
    width: 200px;
}

.country{
    color: steelblue;
    font-weight: bold;
   
}

.movie{
    color: steelblue;
    font-weight: bold;
}

.tvshow{
    color: steelblue;
    font-weight: bold;
}

.btn{
    background-color: steelblue;
    color: white;
}